<form action="/user/session" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="login">
</form>


<form action="/user/new" method="get">
    <input type="submit" value="register">
</form>